{
    "endpoint": "/api/v1/service-headers",
    "method": "GET",
    "output_encoding": "json",
    "input_headers": ["X-API-Key","X-Tenant-ID"],
    "backend": [
        {
            "url_pattern": "/api/v1/service-headers",
            "encoding": "json",
            "sd": "static",
            "method": "GET",
            "host": ["{{ .vars.header_forwarding_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/api/v1/method-headers",
    "method": "POST",
    "output_encoding": "json",
    "input_headers": ["X-API-Key","X-Request-ID","X-Tenant-ID"],
    "backend": [
        {
            "url_pattern": "/api/v1/method-headers",
            "encoding": "json",
            "sd": "static",
            "method": "POST",
            "host": ["{{ .vars.header_forwarding_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
}
