{
    "endpoint": "/api/v1/users",
    "method": "POST",
    "output_encoding": "json",
    "backend": [
        {
            "url_pattern": "/api/v1/users",
            "encoding": "json",
            "sd": "static",
            "method": "POST",
            "host": ["{{ .vars.user_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/api/v1/users/{id}",
    "method": "GET",
    "output_encoding": "json",
    "backend": [
        {
            "url_pattern": "/api/v1/users/{id}",
            "encoding": "json",
            "sd": "static",
            "method": "GET",
            "host": ["{{ .vars.user_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/api/v1/users",
    "method": "GET",
    "output_encoding": "json",
    "backend": [
        {
            "url_pattern": "/api/v1/users",
            "encoding": "json",
            "sd": "static",
            "method": "GET",
            "host": ["{{ .vars.user_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
},
{
    "endpoint": "/api/v1/users/{id}",
    "method": "DELETE",
    "output_encoding": "json",
    "backend": [
        {
            "url_pattern": "/api/v1/users/{id}",
            "encoding": "json",
            "sd": "static",
            "method": "DELETE",
            "host": ["{{ .vars.user_service_host }}"],
            "disable_host_sanitize": false,
            "extra_config": {
                "backend/http": {
                    "return_error_code": true
                }
            }
        }
    ]
}
